/* Unit editable CSS */

/** Unit Bar background color **/
#ubc7-unit {
   /*background: #264E6A;*/
   background: #002145; /* For Blue on White, and White on Grey */
}

/** Social Icons **/
#ubc7-unit-social-icons i {
    color: #002145;
}

.bigText{
    text-align: center;
    color: #002145;
    font-size: 24px;
}
.smallText{
    text-align: center;
    color: #000;
    font-size: 18px;
}

/* Styling for Chart.js graphs */
.canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.span12.graph {
  /*float: center;*/
  margin-left: 0;
  margin-bottom: 2%;
}

#options {
  margin: 2%;
}


/* Card example modified from: https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    text-align: center;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}

.panel {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    margin: 1%;
    border: 1px solid #C3D0DB;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.panel-body{
    border-top: 1px solid #C3D0DB;
    margin: 3%;
}

.login {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login > h4 {
  color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
  text-align: center;
  color: #002145;
}

.card-container h4 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Center the buttons underneath the login card */
.loginButtons {
  text-align: center;
  margin-bottom: 1.5%;
}

#bike1, #bike2 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1.5%;
}

.panel-group{
    text-align: center;
    color: #002145;
}

.panel-title h4 {
  color: #002145;
}

.panel-title {
  color: #002145;
}

.dash-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dash-heading {
    background-color: #002145;
    color: #fff;
    font-size: larger;
    padding: 1%;
}

.dash-data {
    text-align: center;
    font-size: large;
    padding: 3%;
}

/* modal pretty much cut+pasted from: http://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table#statsTable {
    width: 80%;
    padding: 15px;
    text-align: center;
}

table#statsTable h3 {
    text-align: center;
}

table#statsTable tr{
    display: table-row;
}

table#statsTable tr:first-child {
    display: table-row;
}

table#statsTable tr td:first-child {
    width: 40%;
}

.span12.stats, .span3.stats {
    text-align: center;
    color: #002145;
    margin-left: 0;
}

#calories, #endSession {
  margin-bottom: 3%;
}

#options {
  text-align: center;
}
/* Make sure the content resizes nicely */
@media (max-width: 768px) {
  
  #middleRow > .span2 {
    display: none;
  }

  .span1.spacing, .span2.spacing, .span3.spacing, .span4.spacing {
    display: none;
  }

  .card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.bootstrap-sidenav > li > a {
    border: 1px solid #d7e0e7;
    color: #002145;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    text-decoration: none;
}
